<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro to Spring MVC</title>
</head>
<body>
<p th:text="${message}"></p>

<p> <a href="/tickets">List of tickets</a> </p>
<p> <a href="/users?pageSize=2&pageNum=0">List of users</a> </p>
<p> <a href="/events?pageSize=2&pageNum=0">List of events</a> </p>
</body>
</html>