<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
<h2>Tickets</h2>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Event id</th>
        <th>User id</th>
        <th>Category</th>
        <th>Place</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t: ${tickets}">
        <td th:text="${t.id}"/>
        <td th:text="${t.eventId}"/>
        <td th:text="${t.userId}"/>
        <td th:text="${t.category}"/>
        <td th:text="${t.place}"/>
        <td><a th:href="@{/tickets/{id}(id = ${t.id}) }">details</a></td>
        <td><a th:href="@{/tickets/{id}/pdf(id = ${t.id}) }" target="_blank">details in pdf</a></td>
    </tr>
    </tbody>
</table>

<a href="/">Main page</a>
</body>
</html>