<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
<h2>Ticket</h2>

<table>
    <tbody>
    <tr>
        <td>Ticket id</td>
        <td th:text="${ticket.id}"/>
    </tr>
    <tr>
        <td>Ticket category</td>
        <td th:text="${ticket.category}"/>
    </tr>
    <tr>
        <td>Ticket place</td>
        <td th:text="${ticket.place}"/>
    </tr>

    <tr>
        <td>User id</td>
        <td th:text="${user.id}"/>
    </tr>
    <tr>
        <td>User name</td>
        <td th:text="${user.name}"/>
    </tr>
    <tr>
        <td>User email</td>
        <td th:text="${user.email}"/>
    </tr>

    <tr>
        <td>Event id</td>
        <td th:text="${event.id}"/>
    </tr>
    <tr>
        <td>Event title</td>
        <td th:text="${event.title}"/>
    </tr>
    <tr>
        <td>Event date</td>
        <td th:text="${event.date}"/>
    </tr>
    <tr>
        <td>Event date</td>
        <td th:text="${event.ticketPrice}"/>
    </tr>
    </tbody>
</table>

<button onclick="history.back()">Go Back</button>
</body>
</html>