<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>

<table>
    <tbody>
    <tr th:each="u: ${users}">
        <td th:text="${u.id}"/>
        <td th:text="${u.name}"/>
        <td th:text="${u.email}"/>
    </tr>
    </tbody>
</table>

<a href="/">Main page</a>
</body>
</html>